.input {
  display: flex;
  width: 100%;
  height: 70px;
  padding: 15px;
  font-size: 16px;
  font-family: inherit;
  background: rgba(black, .2);
  color: white;
  border: 0;
  resize: none;
}

.video {
  display: flex;
  margin: var(--spacing-medium);
  padding: var(--spacing-medium);
  background: rgba(white, .05);

  iframe {
    width: 100%;
    height: auto;
  }

}

.link {
  display: flex;
  margin: var(--spacing-medium);
  padding: var(--spacing-medium);
  background: rgba(white, .05);

  &-image {
    display: flex;
    width: 50px;
    height: 50px;
    margin-right: var(--spacing-medium);
  }

  &-title {
    display: flex;
    flex-grow: 1;
    margin: 0;
    font-size: 16px;
    color: var(--primary-color);
  }

}

.images {
  display: flex;
  flex-wrap: wrap;
  margin: var(--spacing-medium);
  padding: var(--spacing-small);
  background: rgba(white, .05);

  .image {
    display: flex;
    margin: 3px;
    width: 50px;
    height: 50px;
    object-fit: cover;

  }

}

.actionBar {
  display: flex;
  justify-content: space-between;
  margin: var(--spacing-medium) 0;
  padding: 0 var(--spacing-medium);

  .album-select {
    display: flex;
    padding: 8px;
    background: var(--alt-color);
    border: 0;
    border-radius: 2px;
    font-size: 12px;
  }

  .publish-button {
    display: flex;
    padding: 10px 16px;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    color: white;
    background: var(--attention-color);
    font-weight: bold;
    font-size: 12px;
  }
}

/*

.button {
  display: block;
  float: right;
  margin: 10px;
  padding: $spacing-medium $spacing-big * 2;
  border: none;
  background: $attention-color;
  color: white;
  font-size: .9em;
  cursor: pointer;

  &:hover,
  &:focus {
    background: darken($attention-color, 5%);
  }

  &.active {
    background: lighten($attention-color, 5%);
    pointer-events: none;
  }
}
*/
