.context-menu {
  position: absolute;
  top: 20px;
  right: 0;
  background: #EEE;
  min-width: 100px;
  padding: 10px 0;
  text-align: left;
  pointer-events: none;
  opacity: 0;
  transition: transform 300ms, opacity 200ms 100ms;
  transform: translateY(40px);

  &.visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }

  a, span {
    display: block;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: bold;

    &:global(.important) {
      color: red;
    }

    &:hover {
      background: rgba(black, .05);
    }
  }

}
