.info {
  padding: var(--spacing-medium) var(--spacing-medium) 0;
  color: var(--text-color-dark);

  .group {
    margin-bottom: var(--spacing-big);
    overflow: hidden;
    border-top: solid 5px var(--accent-color);
    border-radius: 5px;
    background: white;
    font-size: 14px;

    .badges {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: var(--spacing-medium) 0;
      background: var(--alt-color);

      .badge {
        display: flex;
        width: 50px;
        height: 50px;

        .fill {
          fill: transparent;

          &.red {
            fill: red;
          }

          &.blue {
            fill: blue;
          }

          &.green {
            fill: green;
          }

          &.yellow {
            fill: yellow;
          }

        }

        .stroke {
          fill: rgba(black, .25);
        }

      }

    }

    .title {
      margin: 0;
      padding: var(--spacing-medium) var(--spacing-medium) 0;
    }

    .bio {
      margin: 0;
      padding: var(--spacing-medium) var(--spacing-medium) var(--spacing-big);
      color: #666;
      white-space: pre-wrap;
      border-bottom: solid 1px var(--alt-color);
    }

    .row {
      display: flex;
      align-items: center;
      padding: var(--spacing-medium);

      + .row {
        border-top: solid 1px var(--alt-color);
      }

      .row-icon {
        display: flex;
        width: 16px;
        height: 16px;
        margin-right: var(--spacing-medium);
        fill: var(--accent-color);
      }

      .row-label {
        display: flex;
        flex: 1 1;
        white-space: pre-wrap;
      }

      .row-link {
        color: var(--primary-color);
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          text-decoration: underline;
        }

      }

    }

  }

}
