@import '../../utils/variables';
@import 'bourbon';
@import 'neat';

.nav {
  @include position(fixed, 0 auto 0 0);
  @include size($nav-width 100%);
  margin: auto;
  z-index: 20;
  background: white;
  color: #333;
  will-change: transform;
  @include transform(translateX(-100%));
  @include transition(transform 150ms);

	&.nav-open {
    @include transform(translateX(0));
  }

	.header-profile {
		padding: 30px 0 5px 0;
		background: #111;
		img {
			width: 75px;
  		height: 75px;
  		margin: 0 auto 10px auto;
  		display: block;
	    border-radius: 5px;
		}
		ul {
			li {
				color: #FFF;
				font-weight: bold;
				text-align: center;
				width: 33%;
				padding: 20px 0;
				display: inline-block;
				font-size: 18px;
				i {
					font-size: 11px;
					display: block;
					opacity: 0.5
				}
			}
		}
	}
	ul.nav-links {
		li {
			a {
				display: block;
				width: 100%;
				color: #333;
				font-size: 14px;
				text-decoration: none;
				font-weight: bold;
				padding: 0 12px 0 20px;
				height: 48px;
				line-height: 50px;
				display: flex;
				&:hover {
					background: #eee;
				}
				svg {
					width: 22px;
					height: 22px;
					fill: #757575;
					margin-top: 14px;
					font-weight: 300;
			    margin-right: 22px;
			    -webkit-box-flex: none;
			    -webkit-flex: none;
			    flex: none;
				}
			}
		}
	}
}
