@import '../../utils/variables';

.nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $nav-width;
  height: 100%;
  margin: auto;
  z-index: 20;
  background: white;
  color: #333;
  will-change: transform;
  transform: translateX(-100%);
  transition: all 150ms;

	&.nav-open {
    transform: translateX(0);
    box-shadow: 0 1px 0 2000px rgba(black, 0.8);
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #111;
    background-size: cover;
    background-position: center;

    .avatar {
      display: flex;
      width: 75px;
      height: 75px;
      margin-bottom: 10px;
      border-radius: 4px;
    }

    .stats {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;

      .item {
        display: inline-block;
        padding: 5px;
        color: white;
        font-size: 18px;
				font-weight: bold;
				text-align: center;

        i {
          display: block;
          font-size: 12px;
          opacity: 0.5;
        }

      }

    }

  }

  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li + li {
      border-top: solid 1px #ddd;
    }

    .link {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 10px 20px;
      color: #333;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        background: #eee;
      }

      .label,
      .button {
        display: flex;
        color: inherit;
        font-size: 12px;
        font-weight: inherit;
      }

      svg {
        display: flex;
        width: 22px;
        height: 22px;
        margin-right: 10px;
        fill: #757575;
        font-weight: 300;
      }
    }

  }
}
