@import '../../utils/variables';

.container {
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
  max-width: var(--desktop-width);
  margin: var(--header-height) auto 0;
  padding: 18pt 12pt;

  .feed {
    max-width: 600px;
  }

}

.floating-buttons {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: flex;
  z-index: 40;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background: var(--primary-color);
    border-radius: 100%;

    svg {
      width: 25px;
      height: 25px;

      path {
        fill: white;
      }
    }
  }
}
