@import '../../utils/variables';

.button {
  position: relative;

  &.active {
    background: rgba(black, .1);
  }

  .counter {
    position: absolute;
    top: 6px;
    left: 22px;
    padding: 2px 5px;
    background: white;
    color: $primary-color;
    border-radius: 3px;
    font-size: 10px;
    font-weight: 700;
  }
}
