@import '../../utils/variables';
@import 'bourbon';
@import '../../utils/grid-settings';
@import 'neat';

.header {
	@include display(flex);
	@include justify-content(center);
	@include size(100% $header-height);
	position: fixed;
	z-index: 10;
	background: $main-red;
	height: $header-height;
  top: 0;

	.container {
		@include display(flex);
		@include flex-grow(1);
		@include flex-direction(flex-start);
		width: 100%;
		max-width: $main-width + $aside-expanded-width + $aside-collapsed-width;
	}

	.button {
		background: transparent;
		border:0;
		padding: 0 12px;
		margin: 0;
		outline: 0;

		svg {
			@include size(24px $header-height);
			fill: white;
			display: inline-block;

			@include media($tablet) {
				display: none;
			}
		}

		.icon {
			@include size(24px $header-height);
			fill: white;
			display: inline-block;

			@include media($tablet) {
				display: none;
			}
		}

	}

	.bar {
		@include display(flex);
		width: 100%;

		.logo {
			@include display(flex);
			@include flex-grow(1);
		}

		.messages {
			@include display(flex);
			width: $header-height;
		}

		.menu {
			@include display(flex);
			width: $header-height;
		}

	}

	.logo {
		@include display(none);
		@include flex(1 0);
		width: 100%;
		background: url('./Logo.png') left no-repeat;
		background-size: 100px;
	}

}

.icon-back {
	@include size(24px auto);
	fill: white;
	margin: 0 15px;
	display: inline-block;
	padding: 0;

	@include media($tablet) {
		display: none;
	}
}
