@import '../../utils/variables';

.header {
	display: flex;
	justify-content: center;
	width: 100%;
	height: $header-height;
	position: fixed;
	z-index: 20;
	background: $main-red;
	height: $header-height;
  top: 0;

	&.transparent {
		background: transparent;
	}

	.container {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: $main-width + $aside-expanded-width + $aside-collapsed-width;
	}

	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 48px;
		height: 48px;
		background: transparent;
		border:0;
		padding: 0;
		margin: 0;
		outline: 0;

		svg {
			width: 48px;
			height: 48px;
			fill: white;
			display: flex;
		}

		.icon {
			width: 24px;
			height: 24px;
			fill: white;
			display: inline-block;
		}

	}

	.bar {
		display: flex;
		flex-grow: 1;
		height: 100%;

		.logo {
			display: flex;
			flex-grow: 1;
		}

		.title {
			display: flex;
			flex-grow: 1;
			align-items: center;
			line-height: 1em;
		}

		.messages {
			display: flex;
			width: $header-height;
		}

		.menu {
			display: flex;
			width: $header-height;
		}

	}

	.logo {
		display: none;
		flex: 1 0;
		width: 100%;
		background: url('./Logo.png') left no-repeat;
		background-size: 100px;
	}

}

.icon-back {
	width: 24px;
	height: 24px;
	fill: white;
	margin: 0 15px;
	display: inline-block;
	padding: 0;

	/*
	@include media($tablet) {
		display: none;
	}
	*/

}

.buttons {
	display: flex;
	flex-direction: row-reverse;

	button {
		display: flex;
		padding: 0;
		background: transparent;
		border: none;
		outline: none;
	}

	svg {
		display: flex;
		padding: 18px;
		fill: white;
		width: $header-height;
	}
}
