*,
*::before,
*::after {
  box-sizing: border-box;
}

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body, html {
	position: relative;
	height: 100%;
}

body {
  margin: 0;
	background: $main-dark;
	font-family: $base-font-family, Arial;
	font-size: 16px;
	color: white;
}

textarea, input {
	font-size: 0.8em
}



/*
	Flex skeleton for the layout
*/

.main-wrapper {
	display: flex;
  flex-direction: column;
  align-items: flex-start;
	min-height: 100vh;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 15;
    background: rgba(black, .5);
    content: "";
    pointer-events: none;
    transition: opacity 150ms;
  }

	.main {
		display: flex;
		justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    margin-top: $header-height;

    /*
		@include media($tablet) {
			flex-direction: row;
		}
    */
	}

	.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
		width: 100%;
		max-width: 650px;
    margin: 0 auto;
    position: relative;
	}
}

:global(.btn) {
    display: inline-block;
    margin: 0 5px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    color: white;
    border: solid 2px white;
    border-radius: 100px;
    cursor: pointer;
    letter-spacing: 0.5px;
    transition: all 150ms linear;

    &:global(.style-translucent) {
        border-color: transparent;
        background-color: rgba(black, .1);

        &:hover {
            background: lighten(rgba(white, .1), 5%);
        }
    }

    &:global(.style-blue) {
        background-color: $attention-color;
        border-color: $attention-color;

        &:hover {
            background-color: lighten($attention-color, 10%);
            border-color: lighten($attention-color, 10%);
        }
    }

    &:global(.style-red) {
        background-color: $bright-red;
        border-color: $bright-red;

        &:hover {
            background-color: lighten($bright-red, 10%);
            border-color: lighten($bright-red, 10%);
        }
    }
}
