html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body, html, #app {
	position: relative;
	height: 100%;
}

body {
  margin: 0;
	background: $main-dark;
	font-family: $base-font-family, Arial;
	font-size: 16px;
	color: white;
}

textarea, input {
	font-size: 0.8em
}


/* perdón por no saber donde poner esto aún :'c */
.loader {
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.loader-small {
	font-size: 2px;
}

.loader-medium {
	font-size: 3px;
}

.loader-big {
	font-size: 5px;
}

.loader-light {
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #ffffff;
}

.loader-dark {
	border-top: 1.1em solid rgba(0, 0, 0, 0.2);
	border-right: 1.1em solid rgba(0, 0, 0, 0.2);
	border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
	border-left: 1.1em solid rgba(0, 0, 0, 0.4);
}

.loader-pos-abs {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
}

.loader-pos-rel {
	position: relative;
	margin: 20px auto;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/*
	Flex skeleton for the layout
*/

.main-wrapper {
	@include display(flex);
	@include flex-direction(column);
  @include align-items(flex-start);
	min-height: 100vh;

  &:before {
    @include position(absolute, 0 auto auto 0);
    @include size(100%);
    opacity: 0;
    z-index: 15;
    background: rgba(black, .5);
    content: "";
    pointer-events: none;
    @include transition(opacity 150ms);
  }

	.main {
		@include display(flex);
		@include flex-grow(1);
		@include flex-direction(column);
		@include justify-content(center);
    width: 100%;
    margin-top: $header-height;

		@include media($tablet) {
			@include flex-direction(row);
		}
	}

	.main-content {
    @include display(flex);
    @include flex-grow(1);
    @include flex-direction(column);
		width: 100%;
		max-width: 650px;
    margin: 0 auto;
    position: relative;
	}
}
