.container {
  position: fixed;
  bottom: 20px;
  border: 0;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  width: 100%;
  padding: 15px;
  height: 45px;
  resize: none;
  z-index: 2;

  &:focus {
      outline: 0;
  }
}
