@import '../../utils/styles';

.container {
  overflow: scroll;
}

.loading-container {
  margin: 10px auto;
  text-align: center;
  height: 100px;
}
.notificationsListContainer {
  margin: 0;
  padding: 0;
}
