@import '../../utils/styles';

.login_form {
	@include absolute-center;
	text-align: center;

	input {
		display: block;
		padding: $spacing-medium;
		margin-bottom: $spacing-big;
		border: none;
		background: rgba(black, .4);
		color: $charcoal;
		font-size: .9em;
	}

	button {
		display: block;
		margin: 0 auto;
		padding: $spacing-medium $spacing-big * 2;
		border: none;
		background: $attention-color;
		color: white;
		font-size: .9em;
		cursor: pointer;

		&:hover,
		&:focus {
			background: darken($attention-color, 5%);
		}

		&.active {
			background: lighten($attention-color, 5%);
			pointer-events: none;
		}
	}
}
