@import '../../../utils/variables';
@import 'bourbon';
@import '../../../utils/grid-settings';
@import 'neat';

.notification {
  @include display(flex);
  @include align-items(center);
  @include size(100% auto);
  padding: 10px;

  &:nth-child(even) {
    background: #f8f8f8;
  }

  .image {
    @include display(flex);
    @include size(48px);
    border-radius: 100%;
  }

  .text {
    margin: 0 0 0 10px;
    font-size: 14px;
    color: #444;

    .nick {
      font-weight: bold;
      color: $main-red;
    }

    .time {
      display: block;
      font-size: 12px;
      font-weight: bold;
      color: #999;
      line-height: 16px;
    }

  }

}
