@import '../../utils/variables';

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 150ms;
  width: $header-height;
  cursor: pointer;

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 42pt;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 0;
    transition: height 250ms;
    background: white;
    overflow: hidden;
    z-index: 15;
  }

  &.active {
    box-shadow: inset 0 -4px 0 white;

    .content {
      height: 100vh;
    }

  }

}
