@import '../../utils/variables';
@import 'bourbon';
@import 'neat';

.dropdown {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  @include transition(box-shadow 150ms);
  width: $header-height;
  cursor: pointer;

  .content {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(flex-start);
    @include position(fixed, $header-height 0 0 auto);
    @include size(100vw 0);
    @include transition(height 250ms);
    background: white;
    overflow: hidden;
    z-index: 15;
  }

  &.active {
    box-shadow: inset 0 -4px 0 white;

    .content {
      height: 100vh;
    }

  }

}
