@import 'bourbon';
@import 'neat';
@import '../../utils/variables';

.load-more {
  @include display(flex);
  @include align-items(center);
  width: 100%;
  padding: $spacing-medium $spacing-big;
  background: white;
  border: none;
  color: $primary-color;
  text-decoration: none;
  font-size: .8em;
  font-weight: 700;
  cursor: pointer;
  outline: none;

  &:hover {
    background: rgba($primary-color, 0.05);
    text-decoration: underline;
  }

  .icon {
    @include display(flex);
    @include size(16px);
    margin-right: $spacing-medium;
    fill: $primary-color;
  }

  .label {
    @include display(flex);
  }

}
