@import '../../utils/variables';

.item {
  position: relative;
  margin-bottom: $spacing-big;
  width: 100%;
  background: white;
  color: #444;

  &-actions {
    padding: $spacing-medium;
    text-align: right;
  }
}
